/* стиль для мобильной версии до 576px*/
@media (max-width: 576px) {
    .promo h1{
        font-size: 20px;
        margin-bottom: 100px;
        margin-top: 0;
      }
    
      .promo-text{
        margin-bottom: 20px;
        margin-top: 0px;
      }

      .promo-text h3{
        font-size: 12px;
      }
    
      .btn-cta{
        margin-bottom: 200px;
        margin-top: 0;
      }

      .container{
        padding: 0 5px;
      }

      .contact_a{ 
        width: 140px;
        margin-left: 10px;
      }

      .service{
        min-width: 290px;
      }
    
      .project{
        min-width: 290px;
      }
    
      .advantage{
        min-width: 290px;
        margin-bottom: calc(var(--index) * 3) ;
      }
    
      input[type="submit"]{
        padding: 15px 80px;
      }
}
